{% extends "monitoramento/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">

    <h2>Dashboard Geral</h2>

    <!-- Cards -->
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card p-3 text-center">
                <h5>Total de Sensores</h5>
                <h3>{{ sensores|length }}</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 text-center">
                <h5>Sensores Ativos</h5>
                <h3>{{ sensores_ativos }}</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 text-center">
                <h5>Sensores Inativos</h5>
                <h3>{{ sensores_inativos }}</h3>
            </div>
        </div>
    </div>

    <!-- Tabela -->
    <div class="mt-5">
        <h4>Sensores Cadastrados</h4>

        <table class="table table-dark table-striped mt-3">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Unidade</th>
                    <th>Status</th>
                    <th>Instalado em</th>
                </tr>
            </thead>
            <tbody>
                {% for s in sensores %}
                <tr>
                    <td>{{ s.nome }}</td>
                    <td>{{ s.tipo }}</td>
                    <td>{{ s.unidade.nome }}</td>
                    <td>
                        {% if s.ativo %}
                            <span class="badge bg-success">Ativo</span>
                        {% else %}
                            <span class="badge bg-danger">Inativo</span>
                        {% endif %}
                    </td>
                    <td>{{ s.data_instalacao }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        Nenhum sensor cadastrado
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
